{
  "env":{
    "amd": true,
    "browser": true,
    "es6": true,
    "jquery": true
  },
  "extends": "rapid7",
  "globals":{
    "global": true,
    "process": true
  },
  "parser":"babel-eslint",
  "parserOptions": {
    "ecmaFeatures":{
      "arrowFunctions": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "forOf": true,
      "generators": true,
      "globalReturn": true,
      "jsx": true,
      "modules": true,
      "regexUFlag": true,
      "regexYFlag": true,
      "restParams": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodeCodePointEscapes": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "import"
  ],
  "rules":{}
}
